.panel-heading {

	padding: 15px 15px;
}

.btn {
	margin-top: -6px;
}

.fa{
	margin-right: 6px;
	margin-top: 7px;
}

.adjust_username{
	margin-top: -7px;
}

/*for search form*/

#top_space{
	margin-top:20%;
}

#imaginary_container{
    margin-top:5px; /* Don't copy this */ 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}