
body{
    margin-top:20px;
}

.panel-heading {

	padding: 15px 15px;
}

.btn {
	margin-top: -6px;
}

.fa{
	margin-right: 6px;
	margin-top: 7px;
}

.adjust_username{
	margin-top: -7px;
}

/*for search form*/

.top_space{
	margin-top:20%;
}

.imaginary_container{
    margin-top:-4px; /* Don't copy this */ 
}

.btn_fix {
	margin-bottom: 6px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.ddl-title{
  background-color:#5bc0de !important;
  color:#fff !important;
  font-style:italic;
  font-size:80%;
}
  
.ddl-select.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}